.box{
    height: 200px;
    width: 200px;
    background-color: black;
    transition-property: background-color;
    transition-duration: 2000ms;
    transition-timing-function: ease-in;
}
.box:hover{
    background-color: aqua;
    font-size: 30px;
}