

.navbar{
  padding: .8rem;
 }
 nav {
  padding: .8rem;
   padding-right: .20px;
   height: 100%;
   width: 100%;
   font-family: "poppins", sans-serif;
   color: #222
  }
  li{
    padding: .8rem;
     padding-right: .20px;
    }
  .nav-link{
    font-size: 1.1em !important;
  }
  .service-card-list{
    display: flex;
    flex-wrap: wrap;
  }
  .service-card{
    width: 50%;
    border: 1px;
  }